mixin nav_bar
  nav
    ul
      li 
        a(href="/") Home
      li 
        a(href="/login") Login
      li 
       a(href="/posts/new") New Post
      li 
       a(href="/categories/new") New Category
      li 
       a(href="/categories") Categories

mixin submit_button(text)
  - var value =  text || "submit"
  input(type="submit" value=value)

mixin post_preview(post)
  li.post_preview
        a(href="/posts/#{post.slug}")
          if post.img
            img.thumb(src="#{post.img}", alt="")
        .preview_info
          a(href="/posts/#{post.slug}")
            h1= shortenTitle(post.title)
          bodyShorten(post.body)

          each category in post.categories
            a(href="/categories/#{category}")
              p.category_tag= category
          p= formatDate(post.date)
          a.delete_thumb(href="posts/delete/#{post.slug}").
            Delete