extends layout

block content
  h1 All users
  h4= length
   ul
     each post in posts
      li.post_preview
        h1= post.title
        p= post.img
        p= post.body
        p= post.id
        a(href="/posts/#{post.slug}") Click here


