<li class="post_preview">
  <a href="/posts/{{slug}}">
    <img class="thumb" src="{{img}}" alt="" />
  </a>
  <div class="preview_info">
    <a href="/posts/{{slug}}">
      <h1>{{post.title}}</h1>
    </a>
      {{body}}

    {{#each post.categories}} 
      <a href="/categories/{{category}}">
        <p class="category_tag"> {{category}} </p>
      </a>
    {{/each}}
    <p>{{date}}</p>
    <a class="delete_thumb" href="posts/delete/{{post.slug}}">
      Delete
  </div>
</li>