<li>
  <div class="post_preview">
    <a href="/posts/{{slug}}" class="to_post">
      <img class="thumb" src="{{img}}" alt="">
    </a>

    <div class="preview_info">
      <a href="/posts/{{slug}}" class="to_post">
        <h1>{{title}}</h1>
      </a>
      <ol>
       {{#each categories}}
        <li><a href="categories/{{this}}" class="to_category">{{this}}</a></li>
      {{/each}}
      </ol>
      <p>
        {{body}}
      </p>

      <p>{{date}}</p>
    </div>
  </div>
</li>